body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 50px;
}

span {
    color: lightcoral;
}

section {
    display: flex;
    margin-bottom: 200px;
}

.half-width {
    width: 50%;
    text-align: justify;
    padding-left: 5%;
    font-size: 20px;
}

.line-fomate {
    padding: 60px;
}

.half-width img {
    width: 70%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
}

.link-button:hover {
    background-image: linear-gradient(#000428, #004e92);
    cursor: pointer;
    transition: .3s;
}

.top-banner {
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}